<H1>INSTALLATION CHECKLIST</H1>

Full documentation on the installation process can be found in our <A HREF=installation_guide/index.htm>Installation Guide</A>

<H2>BEFORE SETUP</H2>

<UL>
<LI>Identify GEM Administrator Email<br>
<table><tr><td>&nbsp;&nbsp;</td><td><input type="text" name="renamedname"  size="64" maxlength="64" />
</td></tr></table>
	</LI>
<LI>Identify Monitoring Systems</LI>
<UL>
<LI>Identify Unix Monitoring System [ Unix ]
	<table><tr><td>&nbsp;&nbsp;</td><td><input type="text" name="renamedname"  size="64" maxlength="64" />
	</td></tr></table>
	</LI>
<LI>[ Windows ] Identify Windows Monitoring System  
	<br>
	<table><tr><td>&nbsp;&nbsp;</td><td><input type="text" name="renamedname"  size="64" maxlength="64" />
	</td></tr></table>
	</LI>
<LI>
	<input type="checkbox" name="okchkbox_1850758" value="Y" />Install Perl On Montoring System
	</LI>
<LI>
	<input type="checkbox" name="okchkbox_1850758" value="Y" />[ Windows ] Native Client Tools For Databases
	</LI>
<LI>
	<input type="checkbox" name="okchkbox_1850758" value="Y" />[ Windows ] ODBC Setup For Monitored Databases 
	</LI>
<LI>
	<input type="checkbox" name="okchkbox_1850758" value="Y" />[ Unix ] Native No-Password ssh Setup 
	</LI>
</UL>
<LI>[ Unix ] Identify GEM Home Directory
	<br>
	<table><tr><td>&nbsp;&nbsp;</td><td><input type="text" name="renamedname"  size="64" maxlength="64" />
	</td></tr></table>
	</LI>
<LI>[ Windows ] Identify GEM Home Directory 
	<br>
	<table><tr><td>&nbsp;&nbsp;</td><td><input type="text" name="renamedname"  size="64" maxlength="64" />
	</td></tr></table>
	</LI>
<LI>Identify Database Server For Monitoring
	<br>
	<table><tr><td>&nbsp;&nbsp;</td><td><input type="text" name="renamedname"  size="64" maxlength="64" />
	</td></tr></table>
	</LI>
<UL>
<LI>
	<input type="checkbox" name="okchkbox_1850758" value="Y" />[Windows] ODBC Dsn Setup on Windows Monitoring Station
	</LI>
<LI>
	<input type="checkbox" name="okchkbox_1850758" value="Y" />Native Authentication Required For Sql Server, sa for Sybase
	</LI>
<LI>
	<input type="checkbox" name="okchkbox_1850758" value="Y" />Create gemalarms Database 
	</LI>
<LI>
	<input type="checkbox" name="okchkbox_1850758" value="Y" />Create gemalarms login
	</LI>
<LI>
	<input type="checkbox" name="okchkbox_1850758" value="Y" />Add gemalarms login to the database [datareader/datawriter if sql server]
	</LI>
</UL>
<LI>Identify Windows Web Server For Monitoring</LI>
<UL>
<LI>Host Name <br>
<table><tr><td>&nbsp;&nbsp;</td><td><input type="text" name="renamedname"  size="64" maxlength="64" />
	</td></tr></table>
		</LI>
<LI>Win32 Full Path Spec To cgi-bin <br>
<table><tr><td>&nbsp;&nbsp;</td><td><input type="text" name="renamedname"  size="64" maxlength="64" />
	</td></tr></table>
		</LI>
<LI>URL Base For This Directory <br>
<table><tr><td>&nbsp;&nbsp;</td><td><input type="text" name="renamedname"  size="64" maxlength="64" />
	</td></tr></table>
		</LI>
<LI>Perl Used By Your Web Server <br>
<table><tr><td>&nbsp;&nbsp;</td><td><input type="text" name="renamedname"  size="64" maxlength="64" />
		</td></tr></table>
		</LI>
<LI>Win32 Login For Scheduled Tasks <br>
<table><tr><td>&nbsp;&nbsp;</td><td><input type="text" name="renamedname"  size="64" maxlength="64" />
	</td></tr></table>
		</LI>


<LI><input type="checkbox" name="okchkbox_1850758" value="Y" />Create script capable directory</LI>
<LI><input type="checkbox" name="okchkbox_1850758" value="Y" />Copy $GEM/test_web_script.pl to Web Directory</LI>
<LI><input type="checkbox" name="okchkbox_1850758" value="Y" />Test using test_web_script.pl</LI>
</UL>
</UL>

<H2>GEM SETUP PROCEDURE</H2>

<UL>
<LI>Extract Code Line</LI>
<LI>Run configure.pl</LI>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Run Through Initial Steps And Start bin/configure.pl Application</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Agree With The License</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Register Your Install (Actual Registration WILL Fail)</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Sybase Home Directories (Ignore On Windows Sybase)</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Password Vault (Ignore)</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Mail Setup - Set SMTP Host and Test Mail To GEM Administrator EMAIL </UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Enter Database Info & Install/Upgrade Alarm Database.  Check Background Screen For Errors</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Validate Alarm Database</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Deploy The Web Scripts To The Web Server</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Configure Win32 Monitor Station</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Manually Verify Installation</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Close the Application Using the Close Button - Do not X out of it.</UL>
<p>
<LI><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" /><b>Edit lib/RunOn.Pm to define location to run Sybase/Oracle (sorry - need new configure.pl screen for this).</b></LI>
</UL>
</UL>

<UL>
<LI>Edit Configuration Directory in $GEM/conf</LI>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Edit oracle_passwords.dat Password Files</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Edit mysql_passwords.dat Password Files</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Edit sqlsvr_passwords.dat Password Files</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Edit subase_passwords.dat Password Files</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Edit win32_passwords.dat Password Files</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Edit unix_passwords.dat Password Files</UL>
</UL>
</UL>

<UL>
<LI>Run gem.pl</LI>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Test - Mail Setup</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Test - Send A Test Alert</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Tools - Reformat Codeline</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Tools - Load Configfiles to Database</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Tools - Create Port Monitor File - to set up port_monitor.dat</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Tools - Snapshot Win32 Services - to set up win32_service.dat</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Tools - Load Stored Procedures - Sql Servers</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Tools - Load Stored Procedures - Sybase</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Batch Jobs - Create Win32 GEM Batch Jobs</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Batch Jobs - Schedule Win32 Batch Jobs</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Load static data</UL>
</UL>
</UL>

<UL>
<LI>Optional Configuration Directory in $GEM/conf</LI>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Edit Checkserver.dat To Set Specific Overrides For Checkserver.pl Program</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Edit win32_file_check.dat to set directives for checking critical file existence on win32 drives.  </UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Edit unix_file_check.dat to set directives for checking critical file existence on unix drives.  </UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Edit win32_cleanup.dat to define directives for cleaning up win32 drives. </UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Edit unix_cleanup.dat to set directives for cleaning up unix drives.</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Edit replication.dat to set up replication monitoring</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Edit threshold_overrides.dat to set up disk monitoring thresholds</UL>
<UL><INPUT TYPE="CHECKBOX" NAME="OKCHKBOX_1850758" VALUE="Y" />Edit crosscheck.dat to set up no backup alarm thresholds</UL>
</UL>