<Table><TR><TD>Created by gem_create_backup_reports.pl at Wed Mar 14 17:03:14 2007<p>
</TD></TD ALIGN=RIGHT><TABLE BORDER=1><TR><TH COLSPAN=2 BGCOLOR=#FFCCFF>Color Key For Results</TH></TR><TR BGCOLOR=BEIGE><TD COLSPAN=2>DATA OK</TD></TR><TR BGCOLOR=RED><TD>NoBackup</TD><TD>Usable Db, No backups</TD></TR><TR BGCOLOR=PEACH><TD>OldBackup</TD><TD>Usable Db, No Backup For 2+ Days</TD></TR><TR BGCOLOR=PINK><TD>OldTrnDump</TD><TD>Usable Db, !trunc,  >2 hours since trandump</TD></TR><TR BGCOLOR=ORANGE><TD>OldTrnLoad</TD><TD>!Usable, TranLoaded >2*2 hours, No full load today</TD></TR></TABLE></TD></TR></TABLE><br><br><TABLE CELLPADDING=0 CELLSPACING=0 BORDER=1><TR><TD COLSPAN=11>&nbsp;</TD></TR>

<TR> <TH BGCOLOR=#FFCCFF Colspan=11>SERVER=ADSRV111</TH></TR><TR>	<TH BGCOLOR=#FFCCFF>State</TH>
				<TH BGCOLOR=#FFCCFF>Server</TH>
				<TH BGCOLOR=#FFCCFF>Database</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Load</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Load</TH></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>ADSRV111</TD>
	<TD>AHD</TD>
	<TD>03/14 02:01</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>ADSRV111</TD>
	<TD>CAICALDB</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>ADSRV111</TD>
	<TD>CAIDOCDB</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>ADSRV111</TD>
	<TD>CAIOPRDB</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>ADSRV111</TD>
	<TD>CAISTADB</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>ADSRV111</TD>
	<TD>CAITRPDB</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>ADSRV111</TD>
	<TD>TNGDB</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 0M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR><TD COLSPAN=11>&nbsp;</TD></TR>

<TR> <TH BGCOLOR=#FFCCFF Colspan=11>SERVER=ADSRV138</TH></TR><TR>	<TH BGCOLOR=#FFCCFF>State</TH>
				<TH BGCOLOR=#FFCCFF>Server</TH>
				<TH BGCOLOR=#FFCCFF>Database</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Load</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Load</TH></TR>

<TR BGCOLOR=PEACH>
	<TD>OldBackup</TD>
	<TD>ADSRV138</TD>
	<TD>qai</TD>
	<TD>08/29 21:05</TD>
	<TD>(196 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR><TD COLSPAN=11>&nbsp;</TD></TR>

<TR> <TH BGCOLOR=#FFCCFF Colspan=11>SERVER=BROKERSQL1</TH></TR><TR>	<TH BGCOLOR=#FFCCFF>State</TH>
				<TH BGCOLOR=#FFCCFF>Server</TH>
				<TH BGCOLOR=#FFCCFF>Database</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Load</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Load</TH></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>ABNAmroCDS</TD>
	<TD>03/13 21:46</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>AIG</TD>
	<TD>03/13 21:46</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>AccessAccount</TD>
	<TD>03/13 21:46</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Accounting</TD>
	<TD>03/14 01:12</TD>
	<TD>(0D 15H 50M)</TD>
	<TD>03/14 16:19</TD>
	<TD>(0D 0H 43M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>AnnuityNet</TD>
	<TD>03/13 21:46</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Audit</TD>
	<TD>03/13 21:46</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>BNPCDS</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>BOACDS</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>BONY</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 15M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Barclays</TD>
	<TD>03/12 00:17</TD>
	<TD>(2D 16H 46M)</TD>
	<TD>03/14 16:36</TD>
	<TD>(0D 0H 27M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>BarclaysCDS</TD>
	<TD>03/13 21:46</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>BarclaysCFD</TD>
	<TD>03/13 21:46</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>BarclaysCommodities</TD>
	<TD>03/13 21:46</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>BarclaysFX</TD>
	<TD>03/13 23:54</TD>
	<TD>(0D 17H 8M)</TD>
	<TD>03/14 16:40</TD>
	<TD>(0D 0H 22M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>BarclaysFutures</TD>
	<TD>03/13 21:46</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>BarclaysUSFutures</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>BearStearnsCDS</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>BearStearnsPolar</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>BearStearnsSWAP</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>BloombergTOMS</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 16M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Breaksheets</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 15M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>CIS</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 15M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>CSFB</TD>
	<TD>03/13 21:48</TD>
	<TD>(0D 19H 14M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>CSFBCDS</TD>
	<TD>03/13 21:48</TD>
	<TD>(0D 19H 14M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>CSFBMF</TD>
	<TD>03/13 21:48</TD>
	<TD>(0D 19H 14M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>CapitalDC</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 15M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>CapitalDCMgmt</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 15M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>CapitalGlobal</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 15M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>CapitalIntl</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 15M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>CapitalUsa</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 15M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>CitigroupCDS</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 15M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Compliance</TD>
	<TD>03/13 21:48</TD>
	<TD>(0D 19H 14M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Corinthian</TD>
	<TD>03/13 21:48</TD>
	<TD>(0D 19H 14M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DBDirect</TD>
	<TD>03/13 21:52</TD>
	<TD>(0D 19H 10M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Daily</TD>
	<TD>03/13 21:49</TD>
	<TD>(0D 19H 13M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DailyPNL</TD>
	<TD>03/13 23:00</TD>
	<TD>(0D 18H 2M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>10/03/2006 15:52</TD>
	<TD>(162 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DailyPNL200607</TD>
	<TD>03/13 21:50</TD>
	<TD>(0D 19H 12M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>08/02/2006 15:06</TD>
	<TD>(224 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DailyPNL200607V2</TD>
	<TD>03/13 21:50</TD>
	<TD>(0D 19H 12M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>08/08/2006 10:46</TD>
	<TD>(218 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DailyPNL200608</TD>
	<TD>03/13 21:50</TD>
	<TD>(0D 19H 12M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>09/05/2006 16:27</TD>
	<TD>(190 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DailyPNL200609</TD>
	<TD>03/13 21:50</TD>
	<TD>(0D 19H 12M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>10/03/2006 15:47</TD>
	<TD>(162 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DailyPNL200610</TD>
	<TD>03/13 21:51</TD>
	<TD>(0D 19H 11M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>11/02/2006 15:07</TD>
	<TD>(132 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DailyPNL200611</TD>
	<TD>03/13 21:51</TD>
	<TD>(0D 19H 11M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>12/04/2006 18:21</TD>
	<TD>(99 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DailyPNL200612</TD>
	<TD>03/13 21:51</TD>
	<TD>(0D 19H 11M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>01/03/2007 15:15</TD>
	<TD>(70 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DailyPNL200701</TD>
	<TD>03/13 21:52</TD>
	<TD>(0D 19H 10M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>02/02/2007 14:46</TD>
	<TD>(40 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DailyPNL200702</TD>
	<TD>03/13 21:52</TD>
	<TD>(0D 19H 10M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>03/02/2007 14:09</TD>
	<TD>(12 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DailyPNLDev</TD>
	<TD>03/13 21:52</TD>
	<TD>(0D 19H 10M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>02/21/2007 14:18</TD>
	<TD>(21 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DeutscheBank</TD>
	<TD>03/13 21:53</TD>
	<TD>(0D 19H 9M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DeutscheBankCDS</TD>
	<TD>03/13 21:53</TD>
	<TD>(0D 19H 9M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DeutscheBankFX</TD>
	<TD>03/13 21:53</TD>
	<TD>(0D 19H 9M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DeutscheBankPB</TD>
	<TD>03/13 21:53</TD>
	<TD>(0D 19H 9M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>DeutscheBankSwap</TD>
	<TD>03/13 21:53</TD>
	<TD>(0D 19H 9M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>FSC</TD>
	<TD>03/13 21:54</TD>
	<TD>(0D 19H 8M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>FSCMuni</TD>
	<TD>03/13 21:54</TD>
	<TD>(0D 19H 8M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>FeeSchedule</TD>
	<TD>03/13 21:53</TD>
	<TD>(0D 19H 9M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Fees</TD>
	<TD>03/13 21:53</TD>
	<TD>(0D 19H 9M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Fimat</TD>
	<TD>03/13 21:53</TD>
	<TD>(0D 19H 9M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>FimatFX</TD>
	<TD>03/13 21:53</TD>
	<TD>(0D 19H 9M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Financing</TD>
	<TD>03/09 02:39</TD>
	<TD>(5D 13H 23M)</TD>
	<TD>03/14 17:01</TD>
	<TD>(0D 0H 1M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>GLStaging</TD>
	<TD>03/14 00:01</TD>
	<TD>(0D 17H 1M)</TD>
	<TD>03/14 16:15</TD>
	<TD>(0D 0H 47M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>GNI</TD>
	<TD>03/13 21:57</TD>
	<TD>(0D 19H 5M)</TD>
	<TD>03/14 16:27</TD>
	<TD>(0D 0H 35M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>GNI_Fut</TD>
	<TD>03/13 21:57</TD>
	<TD>(0D 19H 5M)</TD>
	<TD>03/14 16:27</TD>
	<TD>(0D 0H 35M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>GS</TD>
	<TD>03/13 21:57</TD>
	<TD>(0D 19H 5M)</TD>
	<TD>03/14 16:27</TD>
	<TD>(0D 0H 35M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>GSCDS</TD>
	<TD>03/13 21:57</TD>
	<TD>(0D 19H 5M)</TD>
	<TD>03/14 16:27</TD>
	<TD>(0D 0H 35M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=PINK>
	<TD>OldTrnDump</TD>
	<TD>BROKERSQL1</TD>
	<TD>GlobalPNL_Archive</TD>
	<TD>03/11 23:33</TD>
	<TD>(2D 17H 29M)</TD>
	<TD>03/14 05:20</TD>
	<TD>(0D 11H 43M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>GlobalPnl</TD>
	<TD>03/11 01:17</TD>
	<TD>(3D 14H 45M)</TD>
	<TD>03/14 16:42</TD>
	<TD>(0D 0H 20M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>GlobalPnlDev</TD>
	<TD>03/13 21:55</TD>
	<TD>(0D 19H 7M)</TD>
	<TD>03/14 16:27</TD>
	<TD>(0D 0H 35M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>HSBC</TD>
	<TD>03/13 21:57</TD>
	<TD>(0D 19H 5M)</TD>
	<TD>03/14 16:27</TD>
	<TD>(0D 0H 35M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>HSBCCDS</TD>
	<TD>03/13 21:57</TD>
	<TD>(0D 19H 5M)</TD>
	<TD>03/14 16:27</TD>
	<TD>(0D 0H 35M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>IMAGPNL</TD>
	<TD>03/13 22:00</TD>
	<TD>(0D 19H 2M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>ISAM_to_tables</TD>
	<TD>03/13 22:01</TD>
	<TD>(0D 19H 2M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>ImaginTest</TD>
	<TD>03/13 22:00</TD>
	<TD>(0D 19H 2M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Imagine</TD>
	<TD>03/13 21:57</TD>
	<TD>(0D 19H 5M)</TD>
	<TD>03/14 16:27</TD>
	<TD>(0D 0H 35M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>ImagineLink</TD>
	<TD>03/13 22:00</TD>
	<TD>(0D 19H 2M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Intersecurities</TD>
	<TD>03/13 22:00</TD>
	<TD>(0D 19H 2M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>JMS</TD>
	<TD>03/13 22:01</TD>
	<TD>(0D 19H 2M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>JP_Morgan</TD>
	<TD>03/13 22:01</TD>
	<TD>(0D 19H 2M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>JP_MorganCDS</TD>
	<TD>03/13 22:01</TD>
	<TD>(0D 19H 2M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>JP_MorganSwap</TD>
	<TD>03/13 22:01</TD>
	<TD>(0D 19H 2M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>KDBLink</TD>
	<TD>03/13 22:01</TD>
	<TD>(0D 19H 2M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Lehman</TD>
	<TD>03/13 22:01</TD>
	<TD>(0D 19H 1M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>LehmanCDS</TD>
	<TD>03/13 22:01</TD>
	<TD>(0D 19H 1M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>LehmanFutures</TD>
	<TD>03/13 22:06</TD>
	<TD>(0D 18H 56M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>LehmanPB</TD>
	<TD>03/13 23:54</TD>
	<TD>(0D 17H 8M)</TD>
	<TD>03/14 16:50</TD>
	<TD>(0D 0H 12M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>LehmanPBLegalEnt</TD>
	<TD>03/13 22:06</TD>
	<TD>(0D 18H 56M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>LehmanSwap</TD>
	<TD>03/13 22:19</TD>
	<TD>(0D 18H 44M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Loanet</TD>
	<TD>03/13 22:26</TD>
	<TD>(0D 18H 37M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>MFAdmin</TD>
	<TD>03/13 22:29</TD>
	<TD>(0D 18H 33M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>MMSPNL</TD>
	<TD>03/13 21:14</TD>
	<TD>(0D 19H 49M)</TD>
	<TD>03/14 16:40</TD>
	<TD>(0D 0H 22M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>MSCSswap</TD>
	<TD>03/13 22:35</TD>
	<TD>(0D 18H 27M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>MerrillCAD</TD>
	<TD>03/13 22:26</TD>
	<TD>(0D 18H 37M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>MerrillCDS</TD>
	<TD>03/13 22:26</TD>
	<TD>(0D 18H 37M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>MerrillCFD</TD>
	<TD>03/13 22:26</TD>
	<TD>(0D 18H 36M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>MerrillPB</TD>
	<TD>03/13 22:26</TD>
	<TD>(0D 18H 36M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>MerrillSwap</TD>
	<TD>03/13 22:26</TD>
	<TD>(0D 18H 36M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>MerrillUK2</TD>
	<TD>03/13 22:26</TD>
	<TD>(0D 18H 36M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>MerrillUS</TD>
	<TD>03/13 22:26</TD>
	<TD>(0D 18H 36M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>MerrillUSFut</TD>
	<TD>03/13 22:29</TD>
	<TD>(0D 18H 33M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Merrill_MF_London</TD>
	<TD>03/13 22:26</TD>
	<TD>(0D 18H 37M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Merrill_Pro</TD>
	<TD>03/03 09:55</TD>
	<TD>(11D 6H 7M)</TD>
	<TD>03/14 16:45</TD>
	<TD>(0D 0H 17M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Merrill_Pro2</TD>
	<TD>03/10 18:54</TD>
	<TD>(3D 21H 8M)</TD>
	<TD>03/14 16:36</TD>
	<TD>(0D 0H 27M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=PEACH>
	<TD>OldBackup</TD>
	<TD>BROKERSQL1</TD>
	<TD>Merrill_Pro2_Archive</TD>
	<TD>02/17 15:56</TD>
	<TD>(25 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=PEACH>
	<TD>OldBackup</TD>
	<TD>BROKERSQL1</TD>
	<TD>Merrill_Pro_Archive</TD>
	<TD>02/17 15:35</TD>
	<TD>(25 Days)</TD>
	<TD>07/24 00:30</TD>
	<TD>(233 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Merrill_Pro_Daily</TD>
	<TD>03/13 22:26</TD>
	<TD>(0D 18H 37M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Monitor</TD>
	<TD>03/13 22:29</TD>
	<TD>(0D 18H 33M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Morgan</TD>
	<TD>03/13 22:33</TD>
	<TD>(0D 18H 29M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>MorganPB</TD>
	<TD>03/13 22:35</TD>
	<TD>(0D 18H 27M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>MorganStanleyCDS</TD>
	<TD>03/13 22:35</TD>
	<TD>(0D 18H 27M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>MorganStanleyUKSwap</TD>
	<TD>03/13 22:35</TD>
	<TD>(0D 18H 27M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>MorganVIM</TD>
	<TD>03/13 22:35</TD>
	<TD>(0D 18H 27M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Morgan_UK</TD>
	<TD>03/13 22:33</TD>
	<TD>(0D 18H 29M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Morgan_UK2</TD>
	<TD>03/13 22:34</TD>
	<TD>(0D 18H 29M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Morgan_US</TD>
	<TD>03/13 22:34</TD>
	<TD>(0D 18H 29M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Murex</TD>
	<TD>03/13 22:35</TD>
	<TD>(0D 18H 27M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>NesbittBurns</TD>
	<TD>03/13 22:35</TD>
	<TD>(0D 18H 27M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>PFPC</TD>
	<TD>03/13 22:36</TD>
	<TD>(0D 18H 27M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>PNLRECON</TD>
	<TD>03/13 22:38</TD>
	<TD>(0D 18H 24M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Pricing</TD>
	<TD>03/13 22:43</TD>
	<TD>(0D 18H 19M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>RBS</TD>
	<TD>03/13 22:44</TD>
	<TD>(0D 18H 19M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>RBSCDS</TD>
	<TD>03/13 22:44</TD>
	<TD>(0D 18H 19M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Refco</TD>
	<TD>03/13 22:44</TD>
	<TD>(0D 18H 19M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>RefcoFixedIncome</TD>
	<TD>03/13 22:44</TD>
	<TD>(0D 18H 19M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>ReportCoverage</TD>
	<TD>03/13 22:44</TD>
	<TD>(0D 18H 18M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>ReportDelivery</TD>
	<TD>03/13 22:44</TD>
	<TD>(0D 18H 18M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Reporting</TD>
	<TD>03/03 06:34</TD>
	<TD>(11D 9H 29M)</TD>
	<TD>03/14 16:52</TD>
	<TD>(0D 0H 11M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>SBCW</TD>
	<TD>03/14 00:40</TD>
	<TD>(0D 16H 22M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>SGCowen</TD>
	<TD>03/14 00:40</TD>
	<TD>(0D 16H 22M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>SGCowenSwap</TD>
	<TD>03/14 00:40</TD>
	<TD>(0D 16H 22M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>SRZ</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 19M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>SSMB</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 19M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>SimcorpLink</TD>
	<TD>03/14 00:42</TD>
	<TD>(0D 16H 21M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>SocGenCDS</TD>
	<TD>03/14 00:42</TD>
	<TD>(0D 16H 21M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>SpearLeeds</TD>
	<TD>03/14 00:42</TD>
	<TD>(0D 16H 20M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Specialist</TD>
	<TD>03/14 00:43</TD>
	<TD>(0D 16H 19M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Stats</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 19M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>TLM</TD>
	<TD>03/13 21:56</TD>
	<TD>(0D 19H 6M)</TD>
	<TD>03/14 16:57</TD>
	<TD>(0D 0H 6M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>TLMLink</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 18M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>TaxReporting</TD>
	<TD>03/12 00:48</TD>
	<TD>(2D 16H 14M)</TD>
	<TD>03/14 16:30</TD>
	<TD>(0D 0H 32M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Template</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 18M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>Trace</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 18M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>TradeAnalysis</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 18M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>TradeAuth</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 18M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>TradeRec</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 18M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>TradeSupport</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 18M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>UBS</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 18M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>UBSA</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 18M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>UBSCDS</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 18M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>WachoviaCDS</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 18M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>WagnerCash</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 18M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>WarburgCFD</TD>
	<TD>03/14 00:45</TD>
	<TD>(0D 16H 17M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>WebReports</TD>
	<TD>03/13 21:35</TD>
	<TD>(0D 19H 27M)</TD>
	<TD>03/14 16:28</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>citiIndia</TD>
	<TD>03/13 21:47</TD>
	<TD>(0D 19H 15M)</TD>
	<TD>03/14 16:26</TD>
	<TD>(0D 0H 36M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>monitoring</TD>
	<TD>03/13 22:29</TD>
	<TD>(0D 18H 33M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>posDays</TD>
	<TD>03/13 22:38</TD>
	<TD>(0D 18H 24M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 34M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>riskmgmt</TD>
	<TD>03/13 23:36</TD>
	<TD>(0D 17H 26M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>simcorp</TD>
	<TD>03/14 00:42</TD>
	<TD>(0D 16H 21M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>BROKERSQL1</TD>
	<TD>tqx</TD>
	<TD>03/14 00:44</TD>
	<TD>(0D 16H 18M)</TD>
	<TD>03/14 16:29</TD>
	<TD>(0D 0H 33M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR><TD COLSPAN=11>&nbsp;</TD></TR>

<TR> <TH BGCOLOR=#FFCCFF Colspan=11>SERVER=LNSRV015</TH></TR><TR>	<TH BGCOLOR=#FFCCFF>State</TH>
				<TH BGCOLOR=#FFCCFF>Server</TH>
				<TH BGCOLOR=#FFCCFF>Database</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Load</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Load</TH></TR>

<TR BGCOLOR=RED>
	<TD>NoBackup</TD>
	<TD>LNSRV015</TD>
	<TD>InetDb</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR><TD COLSPAN=11>&nbsp;</TD></TR>

<TR> <TH BGCOLOR=#FFCCFF Colspan=11>SERVER=PLATINUM</TH></TR><TR>	<TH BGCOLOR=#FFCCFF>State</TH>
				<TH BGCOLOR=#FFCCFF>Server</TH>
				<TH BGCOLOR=#FFCCFF>Database</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Load</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Load</TH></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>ADVAN</TD>
	<TD>03/14 02:00</TD>
	<TD>(0D 15H 3M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:09</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>ADVSI</TD>
	<TD>03/14 02:00</TD>
	<TD>(0D 15H 3M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:09</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>AEGIS</TD>
	<TD>03/14 02:00</TD>
	<TD>(0D 15H 2M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:09</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>AEGSI</TD>
	<TD>03/14 02:00</TD>
	<TD>(0D 15H 2M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:09</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>AIM</TD>
	<TD>03/14 02:00</TD>
	<TD>(0D 15H 2M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:09</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>ASSOC</TD>
	<TD>03/14 02:00</TD>
	<TD>(0D 15H 2M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:09</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>ATM</TD>
	<TD>03/14 02:00</TD>
	<TD>(0D 15H 2M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:09</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>ATMNE</TD>
	<TD>03/14 02:00</TD>
	<TD>(0D 15H 2M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:09</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>BANCONE</TD>
	<TD>03/14 02:00</TD>
	<TD>(0D 15H 2M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:09</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>BISHOP</TD>
	<TD>03/14 02:01</TD>
	<TD>(0D 15H 2M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:09</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>BLACKH</TD>
	<TD>03/14 02:01</TD>
	<TD>(0D 15H 2M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>BROAD</TD>
	<TD>03/14 02:01</TD>
	<TD>(0D 15H 2M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:09</TD>
	<TD>(137 Days)</TD>
	<TD>10/27 18:37</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>CARHINCO</TD>
	<TD>03/14 02:01</TD>
	<TD>(0D 15H 2M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:09</TD>
	<TD>(137 Days)</TD>
	<TD>10/27 19:05</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>CASTLEMK</TD>
	<TD>03/14 02:01</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:10</TD>
	<TD>(137 Days)</TD>
	<TD>10/27 19:08</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>CAY</TD>
	<TD>03/14 02:01</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:10</TD>
	<TD>(137 Days)</TD>
	<TD>10/27 19:11</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>CHINA</TD>
	<TD>03/14 02:01</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:11</TD>
	<TD>(137 Days)</TD>
	<TD>10/27 19:10</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>CHINA2</TD>
	<TD>03/14 02:01</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>COPS</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>02/20/2007 17:05</TD>
	<TD>(21 Days)</TD>
	<TD>10/27 19:11</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>COPS2</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>CPART</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:11</TD>
	<TD>(137 Days)</TD>
	<TD>10/27 19:18</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>CSEGST</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>Chart</TD>
	<TD>03/14 02:01</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:10</TD>
	<TD>(137 Days)</TD>
	<TD>10/27 19:21</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>Control_736</TD>
	<TD>03/14 02:01</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>DEVONWAY</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 0M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:11</TD>
	<TD>(137 Days)</TD>
	<TD>10/27 19:06</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>DRIVE</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 0M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:11</TD>
	<TD>(137 Days)</TD>
	<TD>10/27 19:09</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>Demo_736</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 1M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>EAGLE</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 0M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>EAST</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 0M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:11</TD>
	<TD>(137 Days)</TD>
	<TD>10/27 19:06</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>ECC</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 0M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/29/2006 09:20</TD>
	<TD>(136 Days)</TD>
	<TD>10/27 19:09</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>EDINA</TD>
	<TD>03/14 02:02</TD>
	<TD>(0D 15H 0M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:12</TD>
	<TD>(137 Days)</TD>
	<TD>10/27 19:11</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>EKP</TD>
	<TD>03/14 02:03</TD>
	<TD>(0D 15H 0M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/30/2006 09:20</TD>
	<TD>(135 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>ENGCHILD</TD>
	<TD>03/14 02:03</TD>
	<TD>(0D 14H 59M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>ENGIV</TD>
	<TD>03/14 02:03</TD>
	<TD>(0D 14H 59M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:12</TD>
	<TD>(137 Days)</TD>
	<TD>10/27 19:14</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>ENGIV2</TD>
	<TD>03/14 02:03</TD>
	<TD>(0D 14H 59M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:12</TD>
	<TD>(137 Days)</TD>
	<TD>10/27 19:13</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>ENGMGMT</TD>
	<TD>03/14 02:03</TD>
	<TD>(0D 14H 59M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:12</TD>
	<TD>(137 Days)</TD>
	<TD>10/27 19:15</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>ESC</TD>
	<TD>03/14 02:03</TD>
	<TD>(0D 14H 59M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/29/2006 09:20</TD>
	<TD>(136 Days)</TD>
	<TD>10/27 19:16</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>FIRST</TD>
	<TD>03/14 02:03</TD>
	<TD>(0D 14H 59M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:12</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>FOUND</TD>
	<TD>03/14 02:03</TD>
	<TD>(0D 14H 59M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:12</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>FOUND1543</TD>
	<TD>03/14 02:03</TD>
	<TD>(0D 14H 59M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>Fusion</TD>
	<TD>03/14 02:03</TD>
	<TD>(0D 14H 59M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/30/2006 11:59</TD>
	<TD>(135 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>GAHNMCEL</TD>
	<TD>03/14 02:03</TD>
	<TD>(0D 14H 59M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:12</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>GAHNMCELROY</TD>
	<TD>03/14 02:03</TD>
	<TD>(0D 14H 59M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>GILGILL</TD>
	<TD>03/14 02:03</TD>
	<TD>(0D 14H 59M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:12</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>GPMGLOB</TD>
	<TD>03/14 02:03</TD>
	<TD>(0D 14H 59M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:12</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>GRAND</TD>
	<TD>03/14 02:04</TD>
	<TD>(0D 14H 58M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>02/20/2007 15:33</TD>
	<TD>(22 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>GRAVITAS</TD>
	<TD>03/14 02:04</TD>
	<TD>(0D 14H 58M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:14</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>GSIL</TD>
	<TD>03/14 02:04</TD>
	<TD>(0D 14H 58M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:14</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>HUDVI</TD>
	<TD>03/14 02:04</TD>
	<TD>(0D 14H 58M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:14</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>HUNTERST</TD>
	<TD>03/14 02:04</TD>
	<TD>(0D 14H 58M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:14</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>IAECO</TD>
	<TD>03/14 02:05</TD>
	<TD>(0D 14H 57M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/29/2006 09:19</TD>
	<TD>(136 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>IAEGRAT</TD>
	<TD>03/14 02:05</TD>
	<TD>(0D 14H 57M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:15</TD>
	<TD>(137 Days)</TD>
	<TD>10/27 19:08</TD>
	<TD>(137 Days)</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>IAEGST</TD>
	<TD>03/14 02:05</TD>
	<TD>(0D 14H 57M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>IAEPE</TD>
	<TD>03/14 02:05</TD>
	<TD>(0D 14H 57M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:15</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>IAETRUST</TD>
	<TD>03/14 02:05</TD>
	<TD>(0D 14H 57M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:15</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>INTL</TD>
	<TD>03/14 02:07</TD>
	<TD>(0D 14H 55M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>10/28/2006 13:16</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>InterchangeBTM</TD>
	<TD>03/14 02:05</TD>
	<TD>(0D 14H 57M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>InterchangeDTA</TD>
	<TD>03/14 02:06</TD>
	<TD>(0D 14H 56M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>InterchangeSQ</TD>
	<TD>03/14 02:07</TD>
	<TD>(0D 14H 56M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 15M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>Jackson</TD>
	<TD>03/14 02:07</TD>
	<TD>(0D 14H 55M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:16</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>KNIGHT</TD>
	<TD>03/14 02:07</TD>
	<TD>(0D 14H 55M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:16</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>LUXCO</TD>
	<TD>03/14 02:08</TD>
	<TD>(0D 14H 55M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:16</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>LUXCO2</TD>
	<TD>03/14 02:08</TD>
	<TD>(0D 14H 55M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:16</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>LUXCO3</TD>
	<TD>03/14 02:08</TD>
	<TD>(0D 14H 55M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>Lending</TD>
	<TD>03/14 02:07</TD>
	<TD>(0D 14H 55M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:16</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MBarb</TD>
	<TD>03/14 02:08</TD>
	<TD>(0D 14H 55M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:16</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MCMDE</TD>
	<TD>03/14 02:08</TD>
	<TD>(0D 14H 54M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:16</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MCMHK</TD>
	<TD>03/14 02:08</TD>
	<TD>(0D 14H 54M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:16</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MCML</TD>
	<TD>03/14 02:08</TD>
	<TD>(0D 14H 54M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:17</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MCMLLP</TD>
	<TD>03/14 02:08</TD>
	<TD>(0D 14H 54M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:17</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MCMUK</TD>
	<TD>03/14 02:08</TD>
	<TD>(0D 14H 54M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:17</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MCMUK2</TD>
	<TD>03/14 02:09</TD>
	<TD>(0D 14H 54M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:17</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MCOHOLD</TD>
	<TD>03/14 02:09</TD>
	<TD>(0D 14H 53M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:18</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MFUND2</TD>
	<TD>03/14 02:09</TD>
	<TD>(0D 14H 53M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:18</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MFUNDING</TD>
	<TD>03/14 02:09</TD>
	<TD>(0D 14H 53M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:18</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MFunding3</TD>
	<TD>03/14 02:09</TD>
	<TD>(0D 14H 53M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:18</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MFundingX</TD>
	<TD>03/14 02:09</TD>
	<TD>(0D 14H 53M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MGLOBALGP</TD>
	<TD>03/14 02:09</TD>
	<TD>(0D 14H 53M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:18</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MGlobal</TD>
	<TD>03/14 02:09</TD>
	<TD>(0D 14H 53M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/29/2006 09:18</TD>
	<TD>(136 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MHold</TD>
	<TD>03/14 02:10</TD>
	<TD>(0D 14H 52M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/29/2006 09:17</TD>
	<TD>(136 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MILCV</TD>
	<TD>03/14 02:10</TD>
	<TD>(0D 14H 52M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:18</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MILDERIV</TD>
	<TD>03/14 02:10</TD>
	<TD>(0D 14H 52M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MILEN</TD>
	<TD>03/14 02:12</TD>
	<TD>(0D 14H 50M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:22</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MILLENFI</TD>
	<TD>03/14 02:13</TD>
	<TD>(0D 14H 49M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MILMG</TD>
	<TD>03/14 02:13</TD>
	<TD>(0D 14H 49M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/29/2006 09:16</TD>
	<TD>(136 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MILMM</TD>
	<TD>03/14 02:13</TD>
	<TD>(0D 14H 49M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:22</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MILOP</TD>
	<TD>03/14 02:14</TD>
	<TD>(0D 14H 48M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/29/2006 09:16</TD>
	<TD>(136 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MILOP2</TD>
	<TD>03/14 02:14</TD>
	<TD>(0D 14H 48M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MILOP3</TD>
	<TD>03/14 02:15</TD>
	<TD>(0D 14H 48M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MILOPSCASH</TD>
	<TD>03/14 02:15</TD>
	<TD>(0D 14H 48M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MILTRUST</TD>
	<TD>03/14 02:15</TD>
	<TD>(0D 14H 48M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:23</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MINTL</TD>
	<TD>03/14 02:15</TD>
	<TD>(0D 14H 47M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:24</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MINTLA</TD>
	<TD>03/14 02:15</TD>
	<TD>(0D 14H 47M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MJW</TD>
	<TD>03/14 02:15</TD>
	<TD>(0D 14H 47M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:24</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MLPVUE</TD>
	<TD>03/14 02:15</TD>
	<TD>(0D 14H 47M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MMEF</TD>
	<TD>03/14 02:15</TD>
	<TD>(0D 14H 47M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MPART</TD>
	<TD>03/14 02:16</TD>
	<TD>(0D 14H 46M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/29/2006 09:14</TD>
	<TD>(136 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MPART2</TD>
	<TD>03/14 02:17</TD>
	<TD>(0D 14H 45M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/29/2006 09:13</TD>
	<TD>(136 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MPControl</TD>
	<TD>03/14 02:17</TD>
	<TD>(0D 14H 45M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>12/28/2006 18:25</TD>
	<TD>(75 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MUNICIPAL</TD>
	<TD>03/14 02:17</TD>
	<TD>(0D 14H 45M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:26</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>MUSA1</TD>
	<TD>03/14 02:17</TD>
	<TD>(0D 14H 45M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:26</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>NPOINC</TD>
	<TD>03/14 02:17</TD>
	<TD>(0D 14H 45M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>NPOLLC</TD>
	<TD>03/14 02:17</TD>
	<TD>(0D 14H 45M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>NPOLTD</TD>
	<TD>03/14 02:17</TD>
	<TD>(0D 14H 45M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>OUTVIEW</TD>
	<TD>03/14 02:17</TD>
	<TD>(0D 14H 45M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:26</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>OUTVIEWCB</TD>
	<TD>03/14 02:17</TD>
	<TD>(0D 14H 45M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:26</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>PAPYR</TD>
	<TD>03/14 02:17</TD>
	<TD>(0D 14H 45M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:26</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>PLT</TD>
	<TD>03/14 02:18</TD>
	<TD>(0D 14H 45M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>River</TD>
	<TD>03/14 02:18</TD>
	<TD>(0D 14H 45M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:26</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>SCRIMSHW</TD>
	<TD>03/14 02:18</TD>
	<TD>(0D 14H 45M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:26</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>SDRIVE2</TD>
	<TD>03/14 02:18</TD>
	<TD>(0D 14H 44M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:27</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>SEPT</TD>
	<TD>03/14 02:18</TD>
	<TD>(0D 14H 44M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:27</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>SING</TD>
	<TD>03/14 02:18</TD>
	<TD>(0D 14H 44M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>SMCLLC</TD>
	<TD>03/14 02:18</TD>
	<TD>(0D 14H 44M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>SMCLTD</TD>
	<TD>03/14 02:18</TD>
	<TD>(0D 14H 44M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>SSII</TD>
	<TD>03/14 02:19</TD>
	<TD>(0D 14H 43M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:28</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>STRUCTURED</TD>
	<TD>03/14 02:20</TD>
	<TD>(0D 14H 43M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/29/2006 09:12</TD>
	<TD>(136 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>STSLP</TD>
	<TD>03/14 02:20</TD>
	<TD>(0D 14H 43M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:29</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>September</TD>
	<TD>03/14 02:18</TD>
	<TD>(0D 14H 44M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>StoneCas</TD>
	<TD>03/14 02:19</TD>
	<TD>(0D 14H 43M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:28</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>TOBIAS</TD>
	<TD>03/14 02:20</TD>
	<TD>(0D 14H 42M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>Temp_Data</TD>
	<TD>03/14 02:20</TD>
	<TD>(0D 14H 43M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>TestControl</TD>
	<TD>03/14 02:20</TD>
	<TD>(0D 14H 42M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>USA</TD>
	<TD>03/14 02:20</TD>
	<TD>(0D 14H 42M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:29</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>UpgradeDB</TD>
	<TD>03/14 02:20</TD>
	<TD>(0D 14H 42M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>VIMCAY</TD>
	<TD>03/14 02:20</TD>
	<TD>(0D 14H 42M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:29</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>VIMLLC</TD>
	<TD>03/14 02:20</TD>
	<TD>(0D 14H 42M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:29</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>Working</TD>
	<TD>03/14 02:20</TD>
	<TD>(0D 14H 42M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>XLANG</TD>
	<TD>03/14 02:20</TD>
	<TD>(0D 14H 42M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>ZIRCON</TD>
	<TD>03/14 02:20</TD>
	<TD>(0D 14H 42M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:29</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>vreland</TD>
	<TD>03/14 02:20</TD>
	<TD>(0D 14H 42M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:29</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>PLATINUM</TD>
	<TD>wyatco</TD>
	<TD>03/14 02:20</TD>
	<TD>(0D 14H 42M)</TD>
	<TD>03/14 16:48</TD>
	<TD>(0D 0H 14M)</TD>
	<TD>10/28/2006 13:29</TD>
	<TD>(137 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR><TD COLSPAN=11>&nbsp;</TD></TR>

<TR> <TH BGCOLOR=#FFCCFF Colspan=11>SERVER=SQLPROD1</TH></TR><TR>	<TH BGCOLOR=#FFCCFF>State</TH>
				<TH BGCOLOR=#FFCCFF>Server</TH>
				<TH BGCOLOR=#FFCCFF>Database</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Load</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Load</TH></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>AX</TD>
	<TD>03/14 02:00</TD>
	<TD>(0D 15H 3M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>AllPositions</TD>
	<TD>03/14 06:26</TD>
	<TD>(0D 10H 36M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>BESMgmt</TD>
	<TD>03/14 02:00</TD>
	<TD>(0D 15H 2M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>CAConfiguration</TD>
	<TD>03/14 02:01</TD>
	<TD>(0D 15H 2M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>Compliance</TD>
	<TD>03/14 02:01</TD>
	<TD>(0D 15H 2M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>DimensionTest</TD>
	<TD>03/14 02:25</TD>
	<TD>(0D 14H 38M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>EVAccelerator</TD>
	<TD>03/14 03:18</TD>
	<TD>(0D 13H 44M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>EVConfiguration</TD>
	<TD>03/14 03:39</TD>
	<TD>(0D 13H 23M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>EVDiscovery</TD>
	<TD>03/14 03:39</TD>
	<TD>(0D 13H 23M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>EVMLPCompliance</TD>
	<TD>03/14 03:42</TD>
	<TD>(0D 13H 20M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>EnterpriseVaultDirectory</TD>
	<TD>03/14 02:44</TD>
	<TD>(0D 14H 18M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>Entity</TD>
	<TD>03/14 02:44</TD>
	<TD>(0D 14H 18M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>03/13/2007 15:39</TD>
	<TD>(1D 1H 24M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>FIRiskReports</TD>
	<TD>03/14 03:44</TD>
	<TD>(0D 13H 18M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>IAE_IM</TD>
	<TD>03/14 03:46</TD>
	<TD>(0D 13H 16M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>IMManagerDB</TD>
	<TD>03/14 04:06</TD>
	<TD>(0D 12H 56M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>IMManagerStandbyDB</TD>
	<TD>03/14 04:23</TD>
	<TD>(0D 12H 40M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>IMS</TD>
	<TD>03/14 04:23</TD>
	<TD>(0D 12H 40M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>InsightManager_ADSRV086</TD>
	<TD>03/14 04:23</TD>
	<TD>(0D 12H 39M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>InsightManager_ADSRV156</TD>
	<TD>03/14 04:23</TD>
	<TD>(0D 12H 39M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>12/15/2006 11:13</TD>
	<TD>(89 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>Insight_v50_0_1124404</TD>
	<TD>03/14 04:23</TD>
	<TD>(0D 12H 40M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>Legal</TD>
	<TD>03/14 04:23</TD>
	<TD>(0D 12H 39M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>MLPCHAT</TD>
	<TD>03/14 04:35</TD>
	<TD>(0D 12H 27M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>MLP_PD</TD>
	<TD>03/14 04:35</TD>
	<TD>(0D 12H 27M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>MessageStats</TD>
	<TD>03/14 04:34</TD>
	<TD>(0D 12H 28M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>OptionAnalysis</TD>
	<TD>03/14 04:35</TD>
	<TD>(0D 12H 27M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>Performance</TD>
	<TD>03/14 04:39</TD>
	<TD>(0D 12H 24M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>Prism_Deploy_ChannelCreation_5</TD>
	<TD>03/14 04:42</TD>
	<TD>(0D 12H 21M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>Prism_PD</TD>
	<TD>03/14 04:42</TD>
	<TD>(0D 12H 20M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>ProxyVoting</TD>
	<TD>03/14 04:42</TD>
	<TD>(0D 12H 20M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>RiskDW</TD>
	<TD>03/14 05:08</TD>
	<TD>(0D 11H 54M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>RiskDWDev</TD>
	<TD>03/14 05:54</TD>
	<TD>(0D 11H 8M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>RiskDwTest</TD>
	<TD>03/14 06:09</TD>
	<TD>(0D 10H 53M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>RiskReport</TD>
	<TD>03/14 06:11</TD>
	<TD>(0D 10H 51M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>RiskRptDev</TD>
	<TD>03/14 06:17</TD>
	<TD>(0D 10H 46M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>RiskSecMaster</TD>
	<TD>03/14 06:22</TD>
	<TD>(0D 10H 40M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>Trace</TD>
	<TD>03/14 06:23</TD>
	<TD>(0D 10H 39M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>TradeAuth</TD>
	<TD>03/14 06:23</TD>
	<TD>(0D 10H 39M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>citrix_data_store</TD>
	<TD>03/14 02:01</TD>
	<TD>(0D 15H 2M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>fixed_income_tradecap</TD>
	<TD>03/14 03:44</TD>
	<TD>(0D 13H 18M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>mail_db</TD>
	<TD>03/14 04:27</TD>
	<TD>(0D 12H 35M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>mail_db_test</TD>
	<TD>03/14 04:33</TD>
	<TD>(0D 12H 29M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SQLPROD1</TD>
	<TD>vmm_db_v1</TD>
	<TD>03/14 06:23</TD>
	<TD>(0D 10H 39M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 2M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR><TD COLSPAN=11>&nbsp;</TD></TR>

<TR> <TH BGCOLOR=#FFCCFF Colspan=11>SERVER=SUNGARD</TH></TR><TR>	<TH BGCOLOR=#FFCCFF>State</TH>
				<TH BGCOLOR=#FFCCFF>Server</TH>
				<TH BGCOLOR=#FFCCFF>Database</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Load</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Load</TH></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SUNGARD</TD>
	<TD>Executive</TD>
	<TD>03/14 02:00</TD>
	<TD>(0D 15H 3M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=RED>
	<TD>NoBackup</TD>
	<TD>SUNGARD</TD>
	<TD>MDS_Proxy</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SUNGARD</TD>
	<TD>Panorama</TD>
	<TD>03/14 02:14</TD>
	<TD>(0D 14H 49M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=BEIGE>
	<TD>OK</TD>
	<TD>SUNGARD</TD>
	<TD>Reference</TD>
	<TD>03/14 02:00</TD>
	<TD>(0D 15H 3M)</TD>
	<TD>03/14 17:00</TD>
	<TD>(0D 0H 3M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=RED>
	<TD>NoBackup</TD>
	<TD>SUNGARD</TD>
	<TD>test_Executive</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>09/26/2006 13:51</TD>
	<TD>(169 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=RED>
	<TD>NoBackup</TD>
	<TD>SUNGARD</TD>
	<TD>test_Panorama</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>09/26/2006 13:33</TD>
	<TD>(169 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=RED>
	<TD>NoBackup</TD>
	<TD>SUNGARD</TD>
	<TD>test_Reference</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

</TABLE>
Program Completed at Wed Mar 14 17:03:15 2007
OUTPUT were written to a.html
ERRORS were written to b.html
