<Table><TR><TD>Created by gem_create_backup_reports.pl at Wed Mar 14 17:03:14 2007<p>
</TD></TD ALIGN=RIGHT><TABLE BORDER=1><TR><TH COLSPAN=2 BGCOLOR=#FFCCFF>Color Key For Results</TH></TR><TR BGCOLOR=BEIGE><TD COLSPAN=2>DATA OK</TD></TR><TR BGCOLOR=RED><TD>NoBackup</TD><TD>Usable Db, No backups</TD></TR><TR BGCOLOR=PEACH><TD>OldBackup</TD><TD>Usable Db, No Backup For 2+ Days</TD></TR><TR BGCOLOR=PINK><TD>OldTrnDump</TD><TD>Usable Db, !trunc,  >2 hours since trandump</TD></TR><TR BGCOLOR=ORANGE><TD>OldTrnLoad</TD><TD>!Usable, TranLoaded >2*2 hours, No full load today</TD></TR></TABLE></TD></TR></TABLE><br><br><TABLE CELLPADDING=0 CELLSPACING=0 BORDER=1><TR><TD COLSPAN=11>&nbsp;</TD></TR>

<TR> <TH BGCOLOR=#FFCCFF Colspan=11>SERVER=ADSRV138</TH></TR><TR>	<TH BGCOLOR=#FFCCFF>State</TH>
				<TH BGCOLOR=#FFCCFF>Server</TH>
				<TH BGCOLOR=#FFCCFF>Database</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Load</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Load</TH></TR>

<TR BGCOLOR=PEACH>
	<TD>OldBackup</TD>
	<TD>ADSRV138</TD>
	<TD>qai</TD>
	<TD>08/29 21:05</TD>
	<TD>(196 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR><TD COLSPAN=11>&nbsp;</TD></TR>

<TR> <TH BGCOLOR=#FFCCFF Colspan=11>SERVER=BROKERSQL1</TH></TR><TR>	<TH BGCOLOR=#FFCCFF>State</TH>
				<TH BGCOLOR=#FFCCFF>Server</TH>
				<TH BGCOLOR=#FFCCFF>Database</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Load</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Load</TH></TR>

<TR BGCOLOR=PINK>
	<TD>OldTrnDump</TD>
	<TD>BROKERSQL1</TD>
	<TD>GlobalPNL_Archive</TD>
	<TD>03/11 23:33</TD>
	<TD>(2D 17H 29M)</TD>
	<TD>03/14 05:20</TD>
	<TD>(0D 11H 43M)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=PEACH>
	<TD>OldBackup</TD>
	<TD>BROKERSQL1</TD>
	<TD>Merrill_Pro2_Archive</TD>
	<TD>02/17 15:56</TD>
	<TD>(25 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=PEACH>
	<TD>OldBackup</TD>
	<TD>BROKERSQL1</TD>
	<TD>Merrill_Pro_Archive</TD>
	<TD>02/17 15:35</TD>
	<TD>(25 Days)</TD>
	<TD>07/24 00:30</TD>
	<TD>(233 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR><TD COLSPAN=11>&nbsp;</TD></TR>

<TR> <TH BGCOLOR=#FFCCFF Colspan=11>SERVER=LNSRV015</TH></TR><TR>	<TH BGCOLOR=#FFCCFF>State</TH>
				<TH BGCOLOR=#FFCCFF>Server</TH>
				<TH BGCOLOR=#FFCCFF>Database</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Load</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Load</TH></TR>

<TR BGCOLOR=RED>
	<TD>NoBackup</TD>
	<TD>LNSRV015</TD>
	<TD>InetDb</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR><TD COLSPAN=11>&nbsp;</TD></TR>

<TR> <TH BGCOLOR=#FFCCFF Colspan=11>SERVER=SUNGARD</TH></TR><TR>	<TH BGCOLOR=#FFCCFF>State</TH>
				<TH BGCOLOR=#FFCCFF>Server</TH>
				<TH BGCOLOR=#FFCCFF>Database</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Dump</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Load</TH>
				<TH BGCOLOR=#FFCCFF Colspan=2>Last Tran Load</TH></TR>

<TR BGCOLOR=RED>
	<TD>NoBackup</TD>
	<TD>SUNGARD</TD>
	<TD>MDS_Proxy</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=RED>
	<TD>NoBackup</TD>
	<TD>SUNGARD</TD>
	<TD>test_Executive</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>09/26/2006 13:51</TD>
	<TD>(169 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=RED>
	<TD>NoBackup</TD>
	<TD>SUNGARD</TD>
	<TD>test_Panorama</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>09/26/2006 13:33</TD>
	<TD>(169 Days)</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

<TR BGCOLOR=RED>
	<TD>NoBackup</TD>
	<TD>SUNGARD</TD>
	<TD>test_Reference</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD>&nbsp;</TD>
	<TD></TD></TR>

</TABLE>
Program Completed at Wed Mar 14 17:03:15 2007
OUTPUT were written to a.html
ERRORS were written to b.html
